.fullheight {
  height: 100%;
}

#appRoot {
  height: 100%;
}

.app-content {
  height: 100%;
}

.project-view {
  height: 100%;
}

.project-explorer {
  height: 100%;
  width: 40px;
  padding: 5px;
}

.container-horizontal {
  display: flex;
  flex-direction: row;
}

.container-vertical {
  display: flex;
  flex-direction: column;
}

.project-explorer.collapsed {
  width: 40px;
}

.project-explorer.expanded {
  width: 300px;
}

.ui.segment {
  padding: 0.5pt;
  margin: 0pt;
  border-radius: 0px;
}

.ui.menu .dropdown.item .ui.dropdown {
  margin: 0px;
  border-radius: 0px;
}