html, body {
  height: 100%;
}

body {
  color: var(--main-text-color);
  background: var(--main-bg-color);
  font-size: 10pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
}

.fullheight {
  height: 100%;
}
.fullwidth {
  height: 100%;
}

#appRoot {
  height: 100%;
}

.app-content {
  height: 100%;
}

.project-view {
  height: 100%;
}

.panel {
  background: var(--main-bg-color-accent);
  border-top: 1px solid var(--secondary-bg-color);
  margin: 2px;
}

.panel-header {
  margin: 2px;
  border-top: none;
  background: var(--main-bg-color-dark);
  padding: 2px;
  color: var(--main-text-color);
  font-weight: bold;
}

.padding {
  padding: 5px;
}

.container-horizontal {
  display: flex;
  flex-direction: row;
}

.container-vertical {
  display: flex;
  flex-direction: column;
}

.project-explorer {
}

.project-explorer ul {
  list-style-type: none;
  padding: 3px;
  margin: 0px;
}

.project-explorer ul li ul {
  padding-left: 1rem;
}

.project-explorer li {
  cursor: pointer;
}

.project-explorer li.hightlighted {
  background: var(--selection-color);
  color: var(--main-bg-color);
  font-weight: bold;
}

.project-explorer.collapsed {
  width: 40px;
}

.project-explorer.expanded {
  width: 220px;
}
.tree-view-item {
}
.tree-view-item-caption {
  padding: 2px;
  margin-right: 2px;
  background: var(--main-bg-color);
  color: var(--main-text-color);
}
.tree-view-item-caption.selected {
  background: var(--selection-color);
  color: var(--main-text-color);
  font-weight: bold;
}

.sidebar {
}

.status-bar-view {
}


.main-menu-view {
}
.main-menu-view-container {
}
.main-menu-item {
  margin-right: 3px;
  /* border-left: 1px solid var(--main-bg-color-accent); */
  /* border-right: 1px solid var(--main-bg-color-accent); */
}

svg {
  pointer-events: none;
}

.svg-spline {
  pointer-events: painted;
  fill: none;
  stroke: darkkhaki;
  color: aquamarine;
  stroke-width: 5px;
  cursor: pointer;
}

.connector.selected {
  stroke: aqua;
}




.rect-background {
  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent);
  background-size: 60px 60px;
}






