:root {
  --main-bg-color: #2D2D2D;
  --main-bg-color-accent: #424242;
  --secondary-bg-color: #5d83ac;
  --secondary-bg-color-accent: #6b95c2;
  --main-text-color: #EAE6DE;
  --main-text-color-accent: #f5f0e7;
  --selection-color: #D86A46;
  --selection-color-accent: #c0512f;
  --hightlignt-color: #78aeb0;
  --hightlignt-color-accent: #a3ebec;
}

body {
  color: var(--main-text-color);
  background: var(--main-bg-color);
}

.fullheight {
  height: 100%;
}
.fullwidth {
  height: 100%;
}

#appRoot {
  height: 100%;
}

.app-content {
  height: 100%;
}

.project-view {
  height: 100%;
}

.panel {
  background: var(--main-bg-color-accent);
  border-top: 1px solid var(--secondary-bg-color);
  margin: 2px;
}

.panel-header {
  border-bottom: 1px solid var(--secondary-bg-color);
  background: var(--secondary-bg-color-accent);
  padding: 2px;
  color: var(--main-bg-color);
  font-weight: bold;
}

.padding {
  padding: 5px;
}

.container-horizontal {
  display: flex;
  flex-direction: row;
}

.container-vertical {
  display: flex;
  flex-direction: column;
}

.project-explorer {
}

.project-explorer ul {
  list-style-type: none;
  padding: 3px;
  margin: 0px;
}

.project-explorer ul li ul {
  padding-left: 1rem;
}

.project-explorer li {
  cursor: pointer;
}

.project-explorer li.hightlighted {
  background: var(--selection-color);
  color: var(--main-bg-color);
  font-weight: bold;
}

.project-explorer.collapsed {
  width: 40px;
}

.project-explorer.expanded {
  width: 220px;
}

.node-graph-view {
  width: 100%;
}

.node-view {
  height: 100%;
  border: 2px solid rgb(20, 44, 54);
  /* box-shadow: 0 0 0.5em rgb(0, 255, 34); */
  border-radius: 10px;
  overflow: hidden;
}

.node-header {
  background: linear-gradient(to bottom right, rgb(19, 70, 100), rgb(124, 168, 194));
  color: white;
  font-weight: bold;
  padding: 5px;
}

.node-resize-handler {
  cursor: se-resize;
}

.draggable-item {
  position: relative;
}

.node-content {
  background: linear-gradient(to bottom, rgb(3, 7, 14), rgb(19, 46, 68) );
  height: 100%;
  padding: 5px;
  color: rgb(255, 255, 255);
}
.sidebar {
}

.status-bar-view {
}


.main-menu-view {
}
.main-menu-view-container {
}
.main-menu-item {
  margin-right: 3px;
  /* border-left: 1px solid var(--main-bg-color-accent); */
  /* border-right: 1px solid var(--main-bg-color-accent); */
}

.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}














