html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

:root {
  --max-root-width: 800px;
  --max-root-height: 800px;
}

.scene {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #222;
  background-image: repeating-conic-gradient(#3c3c4a 0% 25%, #191d2e 0% 50%);
  background-position: 0 0, 32px 32px;
  background-size: 64px 64px;
  background-color: #191d2e;
}

.root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  background: #ccc;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.player {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.player > .view {
  flex-grow: 1;
}
.player > .view > canvas {
  width: 100%;
  height: 100%;
  background-color: #222;
}
.player > .toolbar {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #222;
}
.player > .toolbar > .unity-web-gl {
  display: flex;
  justify-content: center;
  padding: 0.2em;
}
.player > .toolbar > .unity-web-gl.area {
  flex-grow: 1;
}
.player > .toolbar > .unity-web-gl.area > .icon {
  width: 100%;
  height: 100%;
  background: url("resources/ui/logo-unity-webgl.png") center no-repeat;
  background-size: contain;
}

.chessknight.button {
  display: flex;
  align-items: center;
  padding: 0.2em;
}
.chessknight.button > .icon {
  width: 2em;
  height: 2em;
  background: url("resources/ui/icons/icon-chessknight.ico") center no-repeat;
  background-size: contain;
}
.chessknight.button:hover {
  cursor: pointer;
  background: #ccc;
}

.orientation-portrait.width-tiny .chessknight.button > .text, .orientation-portrait.width-small .chessknight.button > .text {
  display: none;
}
.orientation-portrait.width-tiny .freewebtime.button > .text, .orientation-portrait.width-small .freewebtime.button > .text {
  display: none;
}

.orientation-landscape.height-tiny .root, .orientation-landscape.height-small .root, .orientation-landscape.height-none .root {
  flex-direction: row;
}
.orientation-landscape.height-tiny .navbar, .orientation-landscape.height-small .navbar, .orientation-landscape.height-none .navbar {
  flex-direction: column;
}
.orientation-landscape.height-tiny .navbar .text, .orientation-landscape.height-small .navbar .text, .orientation-landscape.height-none .navbar .text {
  display: none;
}
.orientation-landscape.height-tiny .player, .orientation-landscape.height-small .player, .orientation-landscape.height-none .player {
  flex-direction: row;
}
.orientation-landscape.height-tiny .player > .toolbar, .orientation-landscape.height-small .player > .toolbar, .orientation-landscape.height-none .player > .toolbar {
  flex-direction: column-reverse;
}
.orientation-landscape.height-tiny .player > .toolbar .text, .orientation-landscape.height-small .player > .toolbar .text, .orientation-landscape.height-none .player > .toolbar .text {
  display: none;
}
.orientation-landscape.height-tiny .player > .toolbar .unity-web-gl .icon, .orientation-landscape.height-small .player > .toolbar .unity-web-gl .icon, .orientation-landscape.height-none .player > .toolbar .unity-web-gl .icon {
  transform: rotate(90deg) scale(3);
}

.freewebtime.button {
  display: flex;
  align-items: center;
  padding: 0.2em;
}
.freewebtime.button > .icon {
  width: 2em;
  height: 2em;
  background: url("resources/ui/icons/icon-home.png") center no-repeat;
  background-size: contain;
}
.freewebtime.button:hover {
  cursor: pointer;
  background: #ccc;
}
.width-tiny > .text {
  display: none;
}

.width-small > .text {
  display: none;
}

.help-ukraine.button {
  flex-grow: 1;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 0.2em;
}
.help-ukraine.button > .icon {
  width: 2em;
  height: 2em;
  background: url("resources/ui/icons/icon-ua.png") center no-repeat;
  background-size: contain;
}
.help-ukraine.button:hover {
  cursor: pointer;
  background: #ccc;
}

.fullscreen.button {
  display: flex;
  align-items: center;
  padding: 0.2em;
}
.fullscreen.button > .icon {
  width: 2em;
  height: 2em;
  background: url("resources/ui/icons/icon-fullscreen.png") center no-repeat;
  background-size: contain;
}
.fullscreen.button:hover {
  cursor: pointer;
  background: #ccc;
}
.width-tiny > .text {
  display: none;
}

.width-small > .text {
  display: none;
}

.download.button {
  display: flex;
  align-items: center;
  padding: 0.2em;
}
.download.button > .icon {
  width: 2em;
  height: 2em;
  background: url("resources/ui/icons/icon-download.png") center no-repeat;
  background-size: contain;
}
.download.button:hover {
  cursor: pointer;
  background: #ccc;
}
.width-tiny > .text {
  display: none;
}

.width-small > .text {
  display: none;
}

/*# sourceMappingURL=style.css.map */
