:root {
  --color--panel-default: #0d1216;
  --color--panel-text--default: #a0c0da;
  --color--panel-text--contrast: #dfb97e;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.scene {
  display: flex;
  width: 100%;
  height: 100%;
}

.root {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.layout._growable {
  flex-grow: 1;
}
.layout._center {
  justify-content: center;
}
.layout._cover {
  width: 100%;
  height: 100%;
}
.layout-flex {
  display: flex;
}
.layout-flex._growable {
  flex-grow: 1;
}
.layout-flex._cover {
  width: 100%;
  height: 100%;
}
.layout-flex._center {
  justify-content: center;
}
.layout-flex._horizontal {
  flex-direction: row;
}
.layout-flex._horizontal_reverse {
  flex-direction: row-reverse;
}
.layout-flex._vertical {
  flex-direction: column;
}
.layout-flex._vertical_reverse {
  flex-direction: column-reverse;
}

@media screen and (max-width: 800px) {
  .__hide-on-small-screen {
    display: none;
  }
}

.icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon.icon-fullscreen {
  background-image: url("resources/ui/icons/icon-fullscreen.png");
}
.icon.icon-more {
  background-image: url("resources/ui/icons/icon-more.png");
}
.icon.icon-download {
  background-image: url("resources/ui/icons/icon-download.png");
}
.icon.icon-play {
  background-image: url("resources/ui/icons/icon-play.png");
}
.icon.icon-chessknight {
  background-image: url("resources/ui/icons/icon-chessknight.ico");
}
.icon.icon-ua {
  background-image: url("resources/ui/icons/icon-ua.png");
}
.icon.icon-usa {
  background-image: url("resources/ui/icons/icon-usa.png");
}
.icon.icon-about {
  background-image: url("resources/ui/icons/icon-about.png");
}
.icon.icon-warning {
  background-image: url("resources/ui/icons/icon-warning.png");
}
.icon.icon-home {
  background-image: url("resources/ui/icons/icon-home.png");
}
.icon.icon-toggle {
  background-image: url("resources/ui/icons/icon-toggle.png");
}
.icon.icon-ZSU {
  background-image: url("resources/ui/icons/icon-ZSU.png");
}
.icon.icon-enter {
  background-image: url("resources/ui/icons/icon-enter.png");
}

.button {
  --layout-button--padding-vertical: 0.4em;
  --layout-button--padding-horizontal: 0.4em;
  --layout-button--icon--size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--layout-button--padding-vertical) var(--layout-button--padding-horizontal);
}
.button > .icon {
  width: var(--layout-button--icon--size);
  height: var(--layout-button--icon--size);
}
.button > .text {
  padding: var(--layout-button--padding-vertical) var(--layout-button--padding-horizontal);
}

.player-toolbar {
  color: var(--color--panel-text--default);
  background: var(--color--panel-default);
}
.player-toolbar > .unity-webgl-logo {
  padding: 0.3em;
}
.player-toolbar > .unity-webgl-logo > .image {
  background: url(resources/ui/logo-unity-webgl.png) center no-repeat;
  background-size: contain;
}

#player-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
width: 100%;}

.player-canvas-container {
  background: #888;
}

.navbar {
  font-size: 1em;
  color: var(--color--panel-text--default);
  background: var(--color--panel-default);
}
.navbar > .chessknight-logo {
  font-weight: bold;
  color: var(--color--panel-text--contrast);
}
.navbar .help-Ukraine {
  padding: 0.4em;
}
.navbar .help-Ukraine > .button {
  flex-grow: 1;
  padding: 0;
  color: #fff;
  text-shadow: 0 0 8px #000;
  font-weight: bold;
  font-size: 1.2em;
  box-shadow: inset 0 0 20px #0d1216;
  background: rgb(45, 83, 207);
  background: linear-gradient(180deg, rgb(45, 83, 207) 0%, rgb(26, 75, 238) 50%, rgb(226, 207, 10) 50%, rgb(184, 173, 59) 100%);
  background: rgb(0, 1, 3);
  background: linear-gradient(180deg, rgba(0, 1, 3, 0) 0%, rgba(44, 83, 209, 0.9192051821) 13%, rgb(26, 75, 238) 50%, rgb(226, 207, 10) 50%, rgba(184, 173, 59, 0.7819502801) 92%, rgba(186, 174, 57, 0) 100%);
}

/*# sourceMappingURL=style.css.map */
