.node-view {
  box-shadow: 0 0 5px rgba(245, 240, 231, 1);
  /* border: 3px solid var(--main-bg-color-dark); */
  background: rgb(43, 56, 43);
  /* border: 3px solid var(--main-bg-color); */
  overflow: hidden;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.node-inner-shadow {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  box-shadow: inset 0 0 50px rgba(245, 240, 231, 0.3);
  pointer-events: none;
  border-radius: 5px;
}

.node-header {
  font-weight: bold;
  cursor: grab;
  background: rgba(55, 143, 55, 0.533);
  padding: 4px;
}
.node-footer {
  font-weight: bold;
  background: var(--main-bg-color-accent);
  padding: 4px;
}

.node-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
}

.node-output {
  min-width: 120px;
  padding: 5px;
}

.node-input {
  min-width: 120px;
  padding: 5px;
}

.node-body {
  flex-grow: 1;
  text-align: center;
  padding: 5px;
  /* background: var(--main-bg-color-dark); */
  /* background: #242424; */
  border-radius: 5px;
}

.node-input-item {

}

.node-output-item {

}