.node-view {
  height: 100%;
  box-shadow: 0 0 0.5em var(--selection-color);
  overflow: hidden;
  background: var(--main-bg-color);
  border: 5px solid var(--main-bg-color);
}

.node-header {
  /* padding: 5px; */
  font-weight: bold;
  padding-bottom: 5px;
  cursor: grab;
}

.node-content {
  height: 100%;
  padding: 5px;
  background: var(--main-bg-color-accent);
}