:root {
  --card-bg-color: rgb(235, 235, 235);
  --card-border-color: rgb(61, 54, 19);
  --card-text-color: rgb(0, 0, 0);
}

/* Cardobard */
.cardboard-container {
  flex-grow: 1;
}
.cardboard-header {
  padding: 5px;
  background: var(--color-main-1);
  /* background-image: linear-gradient(to bottom, transparent 0%,var(--color-main-3) 100%); */
}
.cardboard-header-path-item {
  display: inline;
}

.cardboard-content {
  flex-grow: 1;
  margin: 3px;
  border-top: none;
  /* background: #696969; */
  background-image: var(--grid-image);
  background-size: 15px 15px; 
  /* background: var(--color-main);
  background-image: var(--grid-image);
  background-size: 15px 15px; 
  */

  flex-wrap: wrap;

  box-shadow: inset 0px 0px 5px 0px var(--color-main-5);
}

/* Card */
.card {
  background: var(--card-bg-color);
  border: 1px solid var(--card-border-color);
  color: var(--card-text-color);
  display: inline-flex;
  border: none;

  border: 1px solid #444;
  border-radius: 5px;
  overflow: hidden;

  box-shadow: 1px 1px 0px 0px var(--color-main-5);
}
.card.Card {
  margin: 15px;
}
.card.Card:selected {
  border-color: salmon;
}
.card.Subcard {
  margin-top: 2px;
  margin-bottom: 2px;
}

.card-Primitive {
  background: rgb(161, 180, 238);
  background: rgb(238, 161, 161);
  border-color: rgb(102, 69, 69);
  /* border-top: 1px solid #565158; */
}
.card-Structure {
  background: rgb(218, 178, 36);
  border-color: rgb(117, 95, 20);
  /* border-top: 1px solid #5e5d56; */
}
.card-Function {
  background: rgb(118, 177, 127);
  border-color: rgb(62, 92, 66);
  /* border-top: 1px solid #565c5e; */
  overflow: hidden;
}
.card-header {
  background: rgba(255, 255, 255, 0.2);
}
.subheader {
  font-size: 80%;
  font-style: italic;
}
.card-header-input {
}
.card-header-value {
  flex-grow: 1;
  padding: 1px 5px;
}
.card-header-output {
}

.card-socket {
  margin: 3px;
}

.card-content {
  flex-grow: 1;
}
.card-content-input {
  padding: 2px;
}
.card-content-value {
  flex-grow: 1;
  padding: 2px;
}
.card-content-output {
  padding: 2px;
}

.card-footer {
  background: rgba(0, 0, 0, 0.2);
}

.card-footer-value {
  flex-grow: 1;
}
