:root {
  --card-bg-color: #444;
  --card-border-color: rgb(61, 54, 19);
  --card-text-color: rgb(0, 0, 0);

  --card-function-color: #a87457;
  --card-function-text-color: black;
  --card-primitive-color: #aaa25a;
  --card-primitive-text-color: black;
  --card-structure-color: #70915d;
  --card-structure-text-color: black;
}

/* Cardobard */
.cardboard-container {
  flex-grow: 1;
}
.cardboard-header {
  padding: 5px;
  background: var(--color-main-1);
  /* background-image: linear-gradient(to bottom, transparent 0%,var(--color-main-3) 100%); */
}
.cardboard-header-path-item {
  display: inline;
}

.cardboard-content {
  flex-grow: 1;
  /* margin: 3px; */
  border-top: none;
  /* background: #696969; */
  /* background-image: var(--grid-image); */
  background-size: 15px 15px; 
  /* background: var(--color-main);
  background-image: var(--grid-image);
  background-size: 15px 15px; 
  */
  overflow: hidden;
  position: relative;
}
.cardboard-content .inner-shadow {
  position: absolute;
  background: none;
  pointer-events: none;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 5px 0px var(--color-main-5);
}

.cardboard-content-conainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cardboard-connections {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

/* Card */
.card {
  border: 1px solid var(--card-border-color);
  color: var(--card-text-color);
  display: inline-flex;
  border: none;

  border: 1px solid #444;
  overflow: hidden;

  background: var(--card-bg-color);
}
.card.Card {

  /* border-radius: 5px; */
  /* margin: 15px; */
  box-shadow: 1px 1px 3px 0px var(--color-main-5);
}
.card.Card:selected {
  border-color: salmon;
}
.card.Subcard {
  /* margin-top: 1px; */
  /* margin-bottom: 2px; */
}

.card-Function {
  background-image: linear-gradient(var(--card-function-color), var(--card-function-color));
  border-color: var(--card-function-color);
  color: var(--card-function-text-color);
}
.card-Primitive {
  background-image: linear-gradient(var(--card-primitive-color), var(--card-primitive-color));
  border-color: var(--card-primitive-color);
  color: var(--card-primitive-text-color);
}
.card-Structure {
  background-image: linear-gradient(var(--card-structure-color), var(--card-structure-color));
  border-color: var(--card-structure-color);
  color: var(--card-structure-text-color);
}
.card-header {
  background: #ffffff11;
  padding: 2px;
}
.card-header-toolbox {
}
.card-header-toolbox .button {
  background: #ffffff15;
  border: 1px solid #00000015;
}

.subheader {
  font-size: 80%;
  font-style: italic;
}
.card-header-input {
}
.card-header-value {
  flex-grow: 1;
  padding: 1px 5px;
}
.card-header-output {
}

.card-socket {
  /* margin: 1px; */
  display: flex;
}

.card-content {
  flex-grow: 1;
}
.card-content-input {
  padding: 0px;
}
.card-content-value {
  flex-grow: 1;
  padding: 0px;
}
.card-content-output {
  padding: 0px;
}

.card-footer {
  background: #00000011;
  color: #0000007a;
  padding: 2px;
}

.card-footer-value {
  flex-grow: 1;
}

.nomargin {
  margin: 0px;
}

.test-spline {
  position: absolute;  
}

.cardboard-connections {
  pointer-events: none;
}
.cardboard-connections rect {
  fill: transparent;
  stroke: black;
  stroke-width: 1px;
}

.test-area {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  pointer-events: none;
}

.test-item {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 281px;
  top: 27px;
  background: maroon;
}

