:root {
  --app-background: #fcfcfc;
  
  --main-bg-color: #dadada;
  --main-bg-color-2: #ececec;
  --main-bg-color-dark: #a5a5a5;
  --main-bg-color-accent: #dadada;
  --main-bg-color-accent-2: #dadada;
  --main-bg-color-accent-light: #dadada;

  --main-text-color: #2c2c2c;
  --main-text-color-accent: #303030;
  --main-text-color-dark: #202020;
  
  --secondary-bg-color: #407fb6;
  --secondary-bg-color-dark: rgb(72, 101, 129);
  --secondary-bg-color-accent: #6b95c2;
  --secondary-text-color: #2d531b;
  --secondary-text-color-dark: #77712b;
  --secondary-text-color-accent: #d6cb4f;
  
  --selection-color: #D86A46;
  --selection-color-accent: #c0512f;
  --hightlignt-color: #78aeb0;
  --hightlignt-color-accent: #a3ebec;

  --main-font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';

  --explorer-item-color-file: #27ad9b;
  --explorer-item-color-folder: #D86A46;

  --grid-image: linear-gradient(0deg, transparent 24%, 
    rgba(255, 255, 255, .1) 25%, 
    rgba(255, 255, 255, .1) 26%, transparent 27%, transparent 74%, 
    rgba(255, 255, 255, .1) 75%, 
    rgba(255, 255, 255, .1) 76%, transparent 77%, transparent), 
    linear-gradient(90deg, transparent 24%, 
    rgba(255, 255, 255, .1) 25%, 
    rgba(255, 255, 255, .1) 26%, transparent 27%, transparent 74%, 
    rgba(255, 255, 255, .1) 75%, 
    rgba(255, 255, 255, .1) 76%, transparent 77%, transparent);

  --color-main-source: rgb(128, 109, 109);
  --color-main-r: 128;
  --color-main-g: 128;
  --color-main-b: 128;
  --color-inv-r: 255;
  --color-inv-g: 255;
  --color-inv-b: 255;
  
  --color-main-step: 25;
  --color-inv-step: var(--color-main-step);
  
  --color-main: rgb(var(--color-main-r), var(--color-main-g), var(--color-main-b));
  --color-main-1: rgb(
    calc(
      var(--color-main-r) - 
      calc(var(--color-main-step) * 1)
    ), 
    calc(
      var(--color-main-g) - 
      calc(var(--color-main-step) * 1)
    ), 
    calc(
      var(--color-main-b) - 
      calc(var(--color-main-step) * 1)
    )
  );
  --color-main-2: rgb(
    calc(
      var(--color-main-r) - 
      calc(var(--color-main-step) * 2)
    ), 
    calc(
      var(--color-main-g) - 
      calc(var(--color-main-step) * 2)
    ), 
    calc(
      var(--color-main-b) - 
      calc(var(--color-main-step) * 2)
    )
  );
  --color-main-3: rgb(
    calc(
      var(--color-main-r) - 
      calc(var(--color-main-step) * 3)
    ), 
    calc(
      var(--color-main-g) - 
      calc(var(--color-main-step) * 3)
    ), 
    calc(
      var(--color-main-b) - 
      calc(var(--color-main-step) * 3)
    )
  );
  --color-main-4: rgb(
    calc(
      var(--color-main-r) - 
      calc(var(--color-main-step) * 4)
    ), 
    calc(
      var(--color-main-g) - 
      calc(var(--color-main-step) * 4)
    ), 
    calc(
      var(--color-main-b) - 
      calc(var(--color-main-step) * 4)
    )
  );
  --color-main-5: rgb(
    calc(
      var(--color-main-r) - 
      calc(var(--color-main-step) * 5)
    ), 
    calc(
      var(--color-main-g) - 
      calc(var(--color-main-step) * 5)
    ), 
    calc(
      var(--color-main-b) - 
      calc(var(--color-main-step) * 5)
    )
  );

  --color-inv: rgb(var(--color-inv-r), var(--color-inv-g), var(--color-inv-b));
  --color-inv-1: rgb(
    calc(
      var(--color-inv-r) + 
      calc(var(--color-inv-step) * 1)
    ), 
    calc(
      var(--color-inv-g) + 
      calc(var(--color-inv-step) * 1)
    ), 
    calc(
      var(--color-inv-b) + 
      calc(var(--color-inv-step) * 1)
    )
  );
  --color-inv-2: rgb(
    calc(
      var(--color-inv-r) + 
      calc(var(--color-inv-step) * 2)
    ), 
    calc(
      var(--color-inv-g) + 
      calc(var(--color-inv-step) * 2)
    ), 
    calc(
      var(--color-inv-b) + 
      calc(var(--color-inv-step) * 2)
    )
  );
  --color-inv-3: rgb(
    calc(
      var(--color-inv-r) + 
      calc(var(--color-inv-step) * 3)
    ), 
    calc(
      var(--color-inv-g) + 
      calc(var(--color-inv-step) * 3)
    ), 
    calc(
      var(--color-inv-b) + 
      calc(var(--color-inv-step) * 3)
    )
  );
  --color-inv-4: rgb(
    calc(
      var(--color-inv-r) + 
      calc(var(--color-inv-step) * 4)
    ), 
    calc(
      var(--color-inv-g) + 
      calc(var(--color-inv-step) * 4)
    ), 
    calc(
      var(--color-inv-b) + 
      calc(var(--color-inv-step) * 4)
    )
  );
  --color-inv-5: rgb(
    calc(
      var(--color-inv-r) + 
      calc(var(--color-inv-step) * 5)
    ), 
    calc(
      var(--color-inv-g) + 
      calc(var(--color-inv-step) * 5)
    ), 
    calc(
      var(--color-inv-b) + 
      calc(var(--color-inv-step) * 5)
    )
  );

}

html, body {
  height: 100%;
}

body {
  color: var(--color-inv);
  background: var(--color-main);
  font-size: 10pt;
  font-family: var(--main-font-family);
  margin: 0px;
  padding: 0px;
}

.fullheight {
  height: 100%;
}
.fullwidth {
  width: 100%;
}
.fullgrow {
  flex-grow: 1;
}

#appRoot {
  height: 100%;
}

.app-content {
  height: 100%;
}

.project-view {
  height: 100%;
}

.project-content {
  height: 100%;
}

.container-vertical {
  display: flex;
  flex-direction: column;
}
.container-horizontal {
  display: flex;
  flex-direction: row;
}

.main-menu-container {
  padding: 3px;
  z-index: 3;
  background: var(--color-main-1);
  /* background-image: linear-gradient(to bottom, transparent 0%,var(--color-main-3) 100%); */
  border-bottom: 1px solid var(--color-main-2);
  border-top: 1px solid var(--color-main);
  display: none;
}
.middle-content-container {
  flex-grow: 1;
}


.left-sidebar-container {
  /* border-right: 1px solid var(--color-main-5); */
  /* box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.5); */
}
.left-sidebar-icons-container {
  background: var(--color-main-2);
  /* border-top: 1px solid var(--color-main-1); */
  /* background-image: linear-gradient(to top left, transparent 0%,var(--color-main-1) 100%); */
}
.left-sidebar-content {
  width: 240px;
  /* display: none; */
}
.left-sidebar-icons-item {
  margin: 10px;
}
.left-sidebar-icons-item .fa {
  font-size: 2em;
}
.project-explorer {
  flex-grow: 1;
}
.project-explorer-header {
  text-align: center;
  padding: 4px;
  background: var(--color-main-1);
  border-bottom: 1px solid var(--color-main-2);
  border-right: 1px solid var(--color-main-2);
  border-top: 1px solid var(--color-main-1);
  /* border-left: 1px solid var(--color-main); */
}
.project-explorer-subheader {
  padding: 3px;
}
.project-explorer-content {
  background: var(--color-main-3);
  flex-grow: 1;
  /* border-bottom: 1px solid var(--color-main-2); */
  border-right: 1px solid var(--color-main-2);
  /* border-top: 1px solid var(--color-main); */
  /* border-left: 1px solid var(--color-main); */
}
.project-explorer-items {

}
.project-explorer-treeview-item {
}
.project-explorer-treeview-item-content.selected {
  background: var(--color-main-1);
}
.project-explorer-tvi-icon {
}
.project-explorer-treeview-item-content {
  align-items: center;
  padding: 2px;
  cursor: pointer;
}
.project-explorer-treeview-item-content:hover {
  align-items: center;
  padding: 2px;
  background: var(--secondary-bg-color);
}
.project-explorer-tvi-header-buttons-container {
}
.project-explorer-tvi-header-buttons-container .button {
  background: var(--color-main-3);
  border: 1px solid var(--color-main-4);
  cursor: pointer;
  /* color: var(--color-inv); */
  margin-left: 2px;
}

.project-explorer-treeview-item-subitems-container {
}
.project-explorer-tvi-text {
  padding: 1px 0px;
  padding-left: 5px;
  flex-grow: 1;
}


.right-sidebar-container {
  /* border-left: 1px solid var(--color-main-5); */
  /* box-shadow: -1px 0px 3px 0px rgba(0, 0, 0, 0.5); */
}
.right-sidebar-icons-container {
  background: var(--color-main-2);
  /* background-image: linear-gradient(to bottom right, transparent 0%,var(--color-main-3) 100%); */
}
.right-sidebar-content {
  width: 240px;
  display: none;
}
.right-sidebar-icons-item {
  margin: 10px;
}
.right-sidebar-icons-item .fa {
  font-size: 2em;
}



.object-properties-container {
  flex-grow: 1;
}
.object-properties-header {
  text-align: center;
  padding: 5px;
}
.object-properties-content {
  background: var(--color-main-3);
  flex-grow: 1;
  padding: 5px;
}


.editors-container {
  background: var(--color-main-1);
  flex-grow: 1;
}

.editors-tabs-container {
}
.editors-tabs-container-fill-space {
  flex-grow: 1;
  border-bottom: 1px solid var(--color-main);
  border-right: 1px solid var(--color-main-2);
}

.editor-tab-header {
  padding: 4px 8px;
  background: var(--color-main-2);
  align-items: center;
  cursor: pointer;
  border-top: 1px solid var(--color-main-1);
  border-left: 1px solid var(--color-main-1);
  border-right: 1px solid var(--color-main-3);
  border-bottom: 1px solid var(--color-main);
}
.editor-tab-header.selected {
  background: var(--color-main-1);
  border-bottom-color: var(--color-main-1);
  border-left-color: var(--color-main);
  border-right-color: var(--color-main-3);
  border-top-color: var(--color-main);
}
.editor-tab-header-item {
}
.editor-tab-header-item.text {
  padding: 0px 5px;
}

.editor-root {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  border-left: 1px solid var(--color-main);
  border-right: 1px solid var(--color-main-2);
}
.editor-root .shadow {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  /* box-shadow: inset 0px 0px 29px -2px var(--color-inv); */
}

.footer-container {
  /* display: none; */
  padding: 3px;
  background: var(--secondary-bg-color);
  border-top: 1px solid var(--secondary-bg-color-accent);
  border-bottom: 1px solid var(--secondary-bg-color-dark);
  /* background-image: linear-gradient(to bottom, transparent 0%,var(--color-main-3) 100%); */
  /* border-top: 1px solid var(--color-main-1); */
}





svg {
  pointer-events: none;
}

.svg-spline {
  pointer-events: painted;
  fill: none;
  stroke: darkkhaki;
  color: aquamarine;
  stroke-width: 5px;
  cursor: pointer;
}

.connector.selected {
  stroke: aqua;
}


.test {
  color: #27ad9b;
}




/* Cardobard */
.cardboard-container {
  flex-grow: 1;
}
.cardboard-header {
  padding: 5px;
  background: var(--color-main-1);
  /* background-image: linear-gradient(to bottom, transparent 0%,var(--color-main-3) 100%); */
}
.cardboard-content {
  flex-grow: 1;
  margin: 3px;
  border-top: none;
  background: var(--color-main);
  background-image: var(--grid-image);
  background-size: 15px 15px;

  box-shadow: inset 0px 0px 5px 0px var(--color-main-5);
}



/* Card */
.card-container {
  border-radius: 3px;
  border: 2px solid var(--color-main-2);
  background: var(--color-main-2);
}
.card-container.selected {
  border-color: var(--selection-color);
}
.card-container.card {
  overflow: hidden;
  box-shadow: 1px 1px 2px 0px var(--color-main-5);
}
.card-drag-handler {
  cursor: move;
}
.card-header {
  /* background: rgb(131, 12, 121); */
  background-image: linear-gradient(to bottom, 
  rgba(0, 0, 0, 0), 
  rgba(0, 0, 0, 0.0)
  );
  padding: 2px;
}
.card-content {
  background: var(--color-main-1);
  flex-grow: 1;
}
.card-header .input-container {
  padding: 2px;
}
.card-header .content-container {
  padding: 2px;
  flex-grow: 1;
  text-align: center;
}
.card-header .output-container {
  padding: 2px;
}

.card-content .input-container {
  padding: 2px;
}
.card-content .content-container {
  padding: 2px;
  flex-grow: 1;
  text-align: center;
  background: var(--color-main);
  background-image: var(--grid-image);
  background-size: 10px 10px;
  box-shadow: inset 0px 0px 3px 0px var(--color-main-5);
}
.card-content .output-container {
  padding: 2px;
}
