:root {
  --app-background: #202020;
  
  --main-bg-color: #2c2c2c;
  --main-bg-color-2: #303030;
  --main-bg-color-dark: #202020;
  --main-bg-color-accent: #464646;
  --main-bg-color-accent-2: #3a3a3a;
  --main-bg-color-accent-light: #6b6b6b;
  --main-text-color: #dadada;
  --main-text-color-accent: #ececec;
  --main-text-color-dark: #a5a5a5;
  
  --secondary-bg-color: #407fb6;
  --secondary-bg-color-dark: #597ca1;
  --secondary-bg-color-accent: #6b95c2;
  --secondary-text-color: #2d531b;
  --secondary-text-color-dark: #77712b;
  --secondary-text-color-accent: #d6cb4f;
  
  --selection-color: #D86A46;
  --selection-color-accent: #c0512f;
  --hightlignt-color: #78aeb0;
  --hightlignt-color-accent: #a3ebec;

  --main-font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';

  --explorer-item-color-file: #27ad9b;
  --explorer-item-color-folder: #D86A46;
}

html, body {
  height: 100%;
}

body {
  color: var(--main-text-color);
  background: var(--main-bg-color-dark);
  font-size: 10pt;
  font-family: var(--main-font-family);
  margin: 0px;
  padding: 0px;
}

.fullheight {
  height: 100%;
}
.fullwidth {
  width: 100%;
}
.fullgrow {
  flex-grow: 1;
}

#appRoot {
  height: 100%;
}

.app-content {
  height: 100%;
}

.project-view {
  height: 100%;
}

.project-content {
  height: 100%;
}

.container-vertical {
  display: flex;
  flex-direction: column;
}
.container-horizontal {
  display: flex;
  flex-direction: row;
}

.main-menu-container {
  background: var(--main-bg-color-accent-2);
  padding: 3px;
  display: none;
}
.middle-content-container {
  flex-grow: 1;
}




.left-sidebar-container {
  background: var(--main-bg-color);
}
.left-sidebar-icons-container {
  background: var(--main-bg-color-accent);
}
.left-sidebar-content {
  width: 240px;
}
.left-sidebar-icons-item {
  margin: 10px;
}
.left-sidebar-icons-item .fa {
  font-size: 2em;
}
.project-explorer {
  background: var(--main-bg-color-2);
  border: 2px solid var(--main-bg-color-accent);
  flex-grow: 1;
}
.project-explorer-header {
  text-align: center;
  padding: 4px;
}
.project-explorer-subheader {
  padding: 3px;
}
.project-explorer-content {
  background: var(--main-bg-color-accent-2);
  flex-grow: 1;
}
.project-explorer-items {

}
.project-explorer-treeview-item {
}
.project-explorer-treeview-item-content.selected {
  background: var(--main-bg-color-accent-light);
  color: var(--main-text-color);
}
.project-explorer-tvi-icon {
}
.project-explorer-treeview-item-content {
  align-items: center;
  padding: 2px;
  cursor: pointer;
}
.project-explorer-treeview-item-content:hover {
  align-items: center;
  padding: 2px;
  background: var(--main-bg-color-accent-2);
  color: var(--main-text-color);
}
.project-explorer-tvi-header-buttons-container {
}
.project-explorer-tvi-header-buttons-container .button {
  background: var(--main-bg-color);
  border: 1px solid black;
  cursor: pointer;
  color: var(--main-text-color);
}

.project-explorer-treeview-item-subitems-container {
}
.project-explorer-tvi-text {
  padding: 1px 0px;
  padding-left: 5px;
  flex-grow: 1;
}


.right-sidebar-container {
  background: var(--main-bg-color);
}
.right-sidebar-icons-container {
  background: var(--main-bg-color-accent);
}
.right-sidebar-content {
  width: 240px;
}
.right-sidebar-icons-item {
  margin: 10px;
}
.right-sidebar-icons-item .fa {
  font-size: 2em;
}



.object-properties-container {
  background: var(--main-bg-color-2);
  border: 2px solid var(--main-bg-color-accent);
  flex-grow: 1;
}
.object-properties-header {
  text-align: center;
  /* font-size: 80%; */
  padding: 4px;
  /* border-bottom: 1px solid var(--app-background); */
  /* box-shadow: inset 0px 5px 19px -5px rgba(0,0,0,0.75); */
}
.object-properties-content {
  padding: 5px;
  background: var(--main-bg-color-accent-2);
  flex-grow: 1;
}


.editors-container {
  flex-grow: 1;
}

.editors-tabs-container {
  background: var(--app-background);
  z-index: 10;
}

.editor-tab-header {
  padding: 5px 8px;
  background: var(--main-bg-color-dark);
  align-items: center;
  cursor: pointer;
  border-right: 1px solid var(--main-bg-color);
  color: var(--main-text-color-dark);
}
.editor-tab-header.selected {
  background: var(--main-bg-color-2);
  border-bottom-color: var(--main-bg-color-accent-2);
  color: var(--main-text-color);
}
.editor-tab-header-item {
}
.editor-tab-header-item.text {
  padding: 0px 5px;
}

.editor-root {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 0px 29px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 29px -2px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 29px -2px rgba(0,0,0,0.75);
}
.editor-root .shadow {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  -webkit-box-shadow: inset 0px 0px 29px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 29px -2px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 29px -2px rgba(0,0,0,0.75);
}

.right-sidebar-container {
  background: var(--main-bg-color);
  min-width: 180px;
}
.footer-container {
  background: var(--secondary-bg-color);
  padding: 3px;
}





svg {
  pointer-events: none;
}

.svg-spline {
  pointer-events: painted;
  fill: none;
  stroke: darkkhaki;
  color: aquamarine;
  stroke-width: 5px;
  cursor: pointer;
}

.connector.selected {
  stroke: aqua;
}


.test {
  color: #27ad9b;
}




/* Cardobard */
.cardboard-container {
  background: var(--main-bg-color-accent);
  flex-grow: 1;
}
.cardboard-header {
  padding: 10px;
  background: var(--main-bg-color-2);
  color: var(--main-text-color-dark);
  /* box-shadow: inset 0px -3px 20px -9px rgba(0,0,0,0.75); */
}
.cardboard-content {
  flex-grow: 1;
  padding: 5px;
  background: var(--main-bg-color);
  border: 3px solid var(--main-bg-color-2);
  border-top: none;
}



