:root {
  --main-bg-color: #2D2D2D;
  --main-bg-color-dark: #2b2a2a;
  --main-bg-color-accent: #424242;
  --secondary-bg-color: #5d83ac;
  --secondary-bg-color-accent: #6b95c2;
  --main-text-color: #EAE6DE;
  --main-text-color-accent: #f5f0e7;
  --selection-color: #D86A46;
  --selection-color-accent: #c0512f;
  --hightlignt-color: #78aeb0;
  --hightlignt-color-accent: #a3ebec;
}
